<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>后台主页</title>
    <meta th:include="top :: top"/>
</head>
<body>
    <div th:include="head :: head"></div>
    <div class="me-text-center" style="margin-top: 10px">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="">首页</a>
          <a href="/manage/timeline">时间线</a>
          <a href="/manage/companion">骑行伙伴</a>
          <a href="">页面公告</a>
          <a href="">系统设置</a>
        </span>
    </div>
</body>
</html>