<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>时间线管理</title>
    <meta th:include="top :: top"/>
</head>
<body>
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">正式数据</li>
        <li>用户新增</li>
        <li>用户纠正</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <div class="layui-row">
                <table class="layui-hide" id="data_release" lay-filter="test"></table>
                <script type="text/html" id="tool_bar_release">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" onclick="tips()">提示</button>
                    </div>
                </script>
            </div>
            <script type="text/html" id="bar_release">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row">
                <table class="layui-hide" id="data_add" lay-filter="test"></table>
                <script type="text/html" id="tool_bar_add">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" onclick="tips()">提示</button>
                    </div>
                </script>
            </div>
            <script type="text/html" id="bar_add">
                <a class="layui-btn layui-btn-xs" lay-event="turn">转正</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
        <div class="layui-tab-item">
            <div class="layui-row">
                <table class="layui-hide" id="data_correct" lay-filter="test"></table>
                <script type="text/html" id="tool_bar_correct">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" onclick="tips()">提示</button>
                    </div>
                </script>
            </div>
            <script type="text/html" id="bar_correct">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>
<script th:src="@{../../static/js/me/manage/timeline.js}"></script>
</body>
</html>
