<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>404</title>
    <meta th:include="top :: top"/>
</head>
<body style="background-color: lightgoldenrodyellow">
<div class="layui-row" style="text-align: center;padding: 20px">
    <i class="layui-icon layui-icon-face-surprised" style="font-size: 200px;color: deeppink"></i>
    <hr style="height: 5px;background-color: deepskyblue">
    <br>
    <p style="font-size: 100px;color: deepskyblue">404</p>
    <br>
    <p style="font-size: larger;font-weight: bolder;color: deepskyblue">你来到了未曾开发的地方！</p>
</div>
</body>
</html>