<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>403</title>
    <meta th:include="top :: top"/>
</head>
<body style="background-color: lightgoldenrodyellow">
<div class="layui-row" style="text-align: center;">
    <div class="layui-col-md6 layui-col-md-offset3">
        <i class="layui-icon layui-icon-face-surprised" style="font-size: 200px;color: deeppink"></i>
        <hr style="height: 5px;background-color: deepskyblue">
        <br>
        <p style="font-size: 100px;color: deepskyblue">403</p>
        <br>
        <p style="font-size: larger;font-weight: bolder;color: deepskyblue">你还没有登录！</p>
        <br>
        <button onclick="toLogin()" class="layui-btn layui-btn-warm">去登陆</button>
    </div>
</div>
<script th:src="@{../static/js/me/common.js}"></script>
</body>
</html>