<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>李贺臣列传</title>
    <meta name="keywords" content="李贺臣,贺臣,李贺臣简介,李贺臣列传,继古开今,继古开今图">
    <meta name="description" content="《继古开今》图的介绍以及对李贺臣同志的简介。">
    <meta th:include="top :: top"/>
    <style>
        .layui-card-header{
            font-weight: bold;
            font-size: large;
            text-align: center;
            color: deeppink;
            background-color: lightcyan;
        }
        .layui-card-body{
            font-size: large;
            background-color: lightcyan;
        }
    </style>
</head>
<body style="background-color: lightgoldenrodyellow">

<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-picture"></i>  全图概览
            </div>
            <div class="layui-card-body">
                <img alt="《继古开今图》" th:src="@{../static/image/grandpa.jpg}" style="width: 100%"/>
                <br/><br/>
                <a th:href="@{../static/image/li_hechen.jpg}" download="《继古开今》(李贺臣同志纪念图)">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-decoration: underline;color: deeppink">点击下载《继古开今》原图</span>

                </a>
                <br>
                <p style="color: grey;font-size: small">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="layui-icon layui-icon-tips" style="font-size: small"></i>
                    若用微信点击无反应，可以点击页面右上角的三个小点，选择“在浏览器打开”，再下载即可</p>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-flag"></i>  制图意义
            </div>
            <div class="layui-card-body">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此图定稿的年份是2019，时值中华人民共和国成立70周年。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李贺臣同志是一名优秀的党员，为祖国做过巨大贡献，特制图以纪念。</p>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-survey"></i>  标题释义
            </div>
            <div class="layui-card-body" style="font-size: large">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“继古开今”，指继承和弘扬先人的精神和事业，开拓当今的事业和未来的道路。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图中，万里长城是“古”，国旗党徽是“今”;毛泽东和李贺臣同志是“古”，我们是“今”。</p>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-layouts"></i>  构图说明
            </div>
            <div class="layui-card-body">
                <img alt="70周年活动标识" th:src="@{../static/image/ruler.jpg}" style="width: 100%"/>
                <br><br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、实体照片高度为70cm，象征着建国70周年；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、整图中心有个字：李；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、整图中心垂直线，从上到下依次经过标题中心、长城烽火台中心、党徽中心；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、整图中心水平线，从左到右依次经过李贺臣肖像中心、毛泽东肖像底部、毛泽东名讳底部；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、主标题上沿、建国70周年活动标识上沿、毛泽东肖像顶部在同一水平线；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、主标题下沿、建国70周年活动标识下沿、毛泽东肖像眉顶在同一水平线；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、李贺臣肖像中心和五星红旗最大星中心在同一垂直线；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、五星红旗最大星和党徽下沿在同一水平线；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、李贺臣肖像中心和毛泽东名讳下沿在同一水平线；
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、毛泽东肖像中心和右下角主题里李贺臣的“李”在同一垂直线。
                </p>
                <i style="color: grey;font-size: small">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他细节不一一指出。</i>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-search"></i>  细节说明
            </div>
            <div class="layui-card-body">

                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《继古开今》图的左上角是“庆祝中华人民共和国成立70周年活动标识”。</p>
                <img alt="70周年活动标识" th:src="@{../static/image/symbol.jpg}" style="width: 100%"/>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李贺臣同志胸前有两个徽章，左边是“抗美援越纪念章”，右边是“党员徽章”。
                    <br>
                    <i style="color: grey;font-size: small">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为后期添加，用以纪念李贺臣同志的事迹。</i>
                </p>
                <img alt="徽章" th:src="@{../static/image/dedal.jpg}" style="width: 100%"/>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-tree"></i>  家族谱系
            </div>
            <div class="layui-card-body">
                <img alt="《世系图》" th:src="@{../static/image/shixi.png}" style="width: 100%"/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: medium"><i class="layui-icon layui-icon-tips"></i>
                    本世系图自【李贺臣】起始，位于世系顶部正中。正下方为嫡长子，嫡长子右侧为余子，左侧为其女，按诞辰次序向两边降序排列。伴侣均录入本谱，位于左侧。</span>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-carousel"></i>  照片拾忆
            </div>
            <div class="layui-card-body">
                单人照 <i class="layui-icon layui-icon-username"></i><br/>
                <img alt="《单人照》" th:src="@{../static/image/lifephoto01.jpg}" style="width: 100%"/>
                <br/><br/>合照 <i class="layui-icon layui-icon-user"></i><br/>
                <img alt="《合照》" th:src="@{../static/image/lifephoto02.jpg}" style="width: 100%"/>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-location"></i>  人生轨迹
            </div>
            <div class="layui-card-body">

                <ul class="layui-timeline">
                    <li th:each="line : ${lines}" class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title" th:utext ="${line.occurTime}"></h3>
                            <p th:utext="${line.content}"></p>
                        </div>
                    </li>
                </ul>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-danger" id="correct">
                    纠错
                </button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="add">
                    添加
                </button>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-edit"></i>  写在最后
            </div>
            <div class="layui-card-body" style="text-align: center;letter-spacing: 5px">
                <img alt="肖像" th:src="@{../static/image/portrait.jpg}" style="width: 100%"/>
            </div>
        </div>
        <div style="text-align: center" id="like_div">
            <br/>
            <button class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal" id="like_btn" onclick="like()">
               献 💐 <span id="like" style="color: yellow"></span> 💐 花</button>
            <br/><br/><br/>
        </div>
        <div>
            <img alt="底图" th:src="@{../static/image/underground.jpg}" style="width: 100%"/>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">

    var message = [[${likes}]];
    $("#like").text(message);
    var userLikes = 0;
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    $("#add").click(function () {
        layer.open({
            type : 2,
            title : "添加",
            area : [ '400px', '330px' ],
            shade : 0,
            offset : "5px",
            shadeClose : false,
            content : "/timeline/add",
            btn:['确定','取消'],
            yes:function(index,layero){
                var body = top.layer.getChildFrame('body',index);
                var content = body.find('#content').val();
                if (content==''){
                    layer.msg(
                        '内容还未填写',
                        {
                            offset: '100px',
                            anim: 0,
                            time: 1000,
                            icon:2
                        }
                    );
                    return false;
                }
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                console.log(body.find('#classId').val());
                $.ajax({
                    url:"/timeline/insert",
                    type:'post',
                    data:{
                        'occurTime':body.find('#occurTime').val(),
                        'content':body.find('#content').val(),
                        'contributor':body.find('#contributor').val(),
                        'mark':'2'
                    },
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                offset: '10px',
                                icon:1,
                                time:1000
                            },function(){
                                parent.layer.close(index)
                            });
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            },
            btn2 : function() {
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,offset: '100px'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['是的关闭它', '我再考虑一下']
                    ,yes:function(){
                        layer.closeAll();
                    }
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;text-align:center;font-size:20px;">确定关闭吗~!</div>'

                });
                return false;
            },
            closeBtn : 1,
            btnAlign:'c',
            success : function(layero, index) {

            },
            cancel : function() {
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,offset: '100px'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['是的关闭它', '我再考虑一下']
                    ,yes:function(){
                        layer.closeAll();
                    }
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;text-align:center;font-size:20px;">确定关闭吗~!</div>'

                });

                return false;
            },
            end : function() {
                layer.closeAll();
                /*location.reload();*/
            }
        });
    });

    $("#correct").click(function () {
        layer.open({
            type : 2,
            title : "纠错",
            area : [ '400px', '300px' ],
            shade : 0,
            offset : "5px",
            shadeClose : false,
            content : "/timeline/correct",
            btn:['确定','取消'],
            yes:function(index,layero){
                var body = top.layer.getChildFrame('body',index);
                var content = body.find('#content').val();
                if (content==''){
                    layer.msg(
                        '内容还未填写',
                        {
                            offset: '100px',
                            anim: 0,
                            time: 1000,
                            icon:2
                        }
                    );
                    return false;
                }
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                console.log(body.find('#classId').val());
                $.ajax({
                    url:"/timeline/insert",
                    type:'post',
                    data:{
                        'content':body.find('#content').val(),
                        'contributor':body.find('#contributor').val(),
                        'mark':'3'
                    },
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                offset: '10px',
                                icon:1,
                                time:1000
                            },function(){
                                parent.layer.close(index)
                            });
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            },
            btn2 : function() {
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,offset: '100px'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['是的关闭它', '我再考虑一下']
                    ,yes:function(){
                        layer.closeAll();
                    }
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;text-align:center;font-size:20px;">确定关闭吗~!</div>'

                });

                return false;
            },
            closeBtn : 1,
            btnAlign:'c',
            success : function(layero, index) {

            },
            cancel : function() {
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,offset: '100px'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['是的关闭它', '我再考虑一下']
                    ,yes:function(){
                        layer.closeAll();
                    }
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;text-align:center;font-size:20px;">确定关闭吗~!</div>'

                });

                return false;
            },
            end : function() {
                layer.closeAll();
                /*location.reload();*/
            }
        });
    });

    var clickTime = new Date().getTime();

    function like() {
        var now = new Date().getTime();
        if (now-clickTime>1000){
            userLikes++;
            layer.msg(
                '向李贺臣同志献了'+userLikes+'朵鲜花！',
                {
                    offset: '100px',
                    anim: 0,
                    time: 1000,
                    icon:1
                }
            );
            var test = $("#like").text();
            var before = parseInt(test);
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/like/insert',
                data: {"count": before},
                cache: false,
                async: true,
                success: function (data) {
                    $("#like").text(data);
                }
            });
        }
    }

    $("#like_btn").click(function(e){
        var now = new Date().getTime();
        if (now-clickTime>1000){
            var tem="<p class='show'>💐</p>";
            var x=e.pageX;
            var y=e.pageY;
            console.log(x);
            console.log(y);
            $(this).append(tem);
            $(".show").css({
                "z-index": 9999,
                'position':'absolute',
                'top':y-20,
                'left':x,
                'color':'yellow'
            });
            $(".show").animate({
                'top':y-300,
                'opacity':0,
                'fontSize':'50px',
            },999,function(){
                $(".show").remove();
            });
            clickTime = now;
        }
    })
</script>
</html>