<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<div th:fragment="head">
    <div class="layui-row me-top">
        <div th:if="${session.user}==null">
            <a type="button" id="loginBtn">登录</a>
            <a type="button" id="registerBtn">注册</a>
        </div>
        <div th:if="${session.user}!=null">
            <a th:if="${session.user.role}==0" href="/manage/index" target="_blank">后台管理</a>
            <a type="button" id="username" th:text="${session.user.username}"></a>
            <a type="button" id="personalCenter">个人中心</a>
            <a type="button" id="logout">注销</a>
        </div>
    </div>
    <script th:src="@{../static/js/me/top.js}"></script>
    <script th:src="@{../static/js/common/md5.js}"></script>
</div>
</html>
