<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>常用数据</title>
    <meta th:include="top :: top"/>
</head>
<body style="background-color: lightgoldenrodyellow">

<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <table class="layui-table">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>名称</th>
                <th>链接</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memo : ${memos}">
                <td th:text="${memo.title}" onclick="copyText(event)" style="cursor: pointer" title="单击可复制文本"></td>
                <td onclick="copyText(event)" style="cursor: pointer" title="单击空白处可复制链接">
                    <a th:href="@{${memo.address}}" target="_blank"><span th:text="${memo.address}"></span></a>
                </td>
                <td th:text="${memo.remark}" onclick="copyText(event)" style="cursor: pointer" title="单击可复制文本"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    function copyText(e) {
        var target = e.currentTarget;
        var innerText = target.innerText;
        var oInput = document.createElement('input');
        oInput.value = innerText;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display = 'none';
        layer.msg('复制成功！', {offset: '100px', anim: 0, time: 999});
    }

</script>
</html>