<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>随手记</title>
    <meta th:include="top :: top"/>
    <style>
        .w-e-text-container{
            height: 500px !important;/*!important是重点，因为原div是行内样式设置的高度300px*/
        }
    </style>
</head>
<body class="me-body">
<div th:include="head :: head"></div>
<div class="layui-row" style="margin-bottom: 200px;">
    <div class="layui-col-md6 layui-col-md-offset3" style="padding: 0px 20px">
        <div class="me-text-center" style="margin: 20px 0px">
            <button type="button" id="edit" class="layui-btn layui-btn-lg layui-btn-normal">编辑内容</button>
            <button type="button" id="show" class="layui-btn layui-btn-lg layui-btn-warm layui-hide">退出编辑</button>
            <button type="button" id="save" class="layui-btn layui-btn-lg layui-btn-normal layui-hide">保存更改</button>
        </div>
        <div id="editor">
            <p>正在 <b>加载中</b> .......</p>
        </div>
    </div>
</div>
</body>
<script th:src="@{../static/js/editor/wangEditor.min.js}"></script>
<script th:src="@{../static/js/me/knowledge.js}"></script>
</html>