<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>登录</title>
    <meta th:include="top :: top"/>
</head>
<body class="layui-layout-body" style="background-color: lightcyan">
<form class="layui-form" action="">
    <h1 style="text-align: center;margin-top: 20px;margin-bottom: 20px">
        欢迎回来
    </h1>
    <div class="layui-form-item">
        <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;讳</label>
        <div class="layui-input-block" style="padding-right: 50px">
            <input type="text" id="username" name="username" required  lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
        <div class="layui-input-block" style="padding-right: 50px">
            <input type="password" id="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item" style="padding-right: 50px">
        <div class="layui-input-block" style="padding-right: 50px">
            没有账号？<span style="font-weight: bolder;color: deeppink;text-decoration: underline;cursor: pointer" onclick="toRegister()">去注册</span>
        </div>
    </div>-->
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>
