<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>登录</title>
    <meta th:include="top :: top"/>
</head>
<body class="layui-layout-body" style="background-color: lightcyan">
<form class="layui-form" action="">
    <h1 style="text-align: center;margin-top: 20px;margin-bottom: 20px">
        欢迎回来
    </h1>
    <div class="layui-form-item">
        <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;讳</label>
        <div class="layui-input-block" style="padding-right: 50px">
            <input type="text" id="username" name="username" required  lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
        <div class="layui-input-block" style="padding-right: 50px">
            <input type="password" id="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item" style="padding-right: 50px">
        <div class="layui-input-block" style="padding-right: 50px">
            没有账号？<span style="font-weight: bolder;color: deeppink;text-decoration: underline;cursor: pointer" onclick="toRegister()">去注册</span>
        </div>
    </div>-->
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    function toRegister() {
        layer.closeAll();
        layer.open({
            type : 2,
            title : "注册",
            area : [ '400px', '400px' ],
            shade : 0,
            offset : "100px",
            shadeClose : false,
            content : "/register",
            btn:['注册'],
            yes:function(index,layero){
                var body = top.layer.getChildFrame('body',index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                console.log(body.find('#classId').val());

                var isChecked = true;
                var message = '';
                var username = body.find('#username').val();
                var password = body.find('#password').val();
                var repassword = body.find('#repassword').val();
                var phone = body.find('#phone').val();

                if (username == ''){
                    isChecked = false;
                    message = '请填写用户名'
                }
                if (password == ''){
                    isChecked = false;
                    message = '请填写密码'
                }
                if (password != repassword){
                    isChecked = false;
                    message = '密码须输入一致'
                }

                if (!isChecked){
                    layer.msg(
                        message,
                        {
                            offset: '100px',
                            anim: 0,
                            time: 1000,
                            icon:2
                        }
                    );
                    return false;
                }

                $.ajax({
                    url:"/register/save",
                    type:'post',
                    data:{
                        'username':username,
                        'password':password,
                        'phone':phone
                    },
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                icon:1,
                                time:1500
                            },function(){
                                parent.layer.close(index)
                            });
                            location.reload();
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            },
            closeBtn : 1,
            btnAlign:'c',
            success : function(layero, index) {

            },
            cancel : function() {
            },
            end : function() {
                layer.closeAll();
            }
        });
    }
</script>
</body>
</html>
