<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>更换LOGO</title>
    <meta th:include="top :: top"/>
</head>
<body class="layui-layout-body" style="background-color: lightcyan;padding-top: 20px">
<div class="layui-row" style="text-align: center">
    <div class="layui-upload-drag" id="uploadArea">
        <img class="layui-upload-img" id="logoTemp" style="height: 200px"><br>
        <i class="layui-icon"></i>
        <p>点击上传，或将文件拖拽到此处</p>
    </div>
    <div>
        <input type="text" id="logo_url"/>
    </div>
</div>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#uploadArea'
            ,url: '/upload'
            ,size: 1024 //限制文件大小，单位 KB
            ,accept: 'images' //图片
            //,exts: 'jpg|jpeg|png|bmp' //只允许上传的格式
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#logoTemp').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                $("#logo_url").val(res.data);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</body>
</html>
