<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>添加链接</title>
    <meta th:include="top :: top"/>
    <style>
        .layui-form-item {
            margin-bottom: 5px;
        }
    </style>
</head>
<body class="layui-layout-body" style="background-color: lightcyan">
<form class="layui-form" action="" style="padding: 10px 20px 0px 0px">
    <div class="layui-form-item">
        <label class="layui-form-label">标&nbsp;&nbsp;&nbsp;&nbsp;题</label>
        <div class="layui-input-block">
            <input type="text" id="title" name="memo.title" required  lay-verify="required"
                   placeholder="最好在四个字以内" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">链&nbsp;&nbsp;&nbsp;&nbsp;接</label>
        <div class="layui-input-block">
            <input type="text" id="address" name="memo.address" required  lay-verify="required"
                   placeholder="完整路径,如:https://www.baidu.com" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排&nbsp;&nbsp;&nbsp;&nbsp;序</label>
        <div class="layui-input-block">
            <input type="number" id="sequence" name="memo.sequence" required  lay-verify="required"
                   placeholder="显示顺序 填写数字" autocomplete="off" class="layui-input">
        </div>
    </div>
    <input type="number" class="layui-hide" id="maxSequence" name="maxSequence" th:value="${maxSequence}">
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>
