<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>常用链接</title>
    <meta th:include="top :: top"/>
    <style>
        .link{
            border-radius:50%;
            background-color:aqua;
            text-align: center;
            vertical-align: center;
            padding: 20%;
            font-size: larger;
        }
    </style>
</head>
<body style="background-color: lightgoldenrodyellow">
<div th:include="head :: head"></div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div class="layui-row layui-col-lg12" style="text-align: center">
            <br><br><br>
            <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="operate">
                编辑
            </button>
            <button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-hide" id="operate_exit">
                退出编辑
            </button>
            <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="add">
                添加
            </button>
            <br><br><br>
        </div>
        <div class="layui-col-md2 layui-col-sm2 layui-col-xs3" th:each="memo : ${memos}" th:id="${memo.id}">
            <a th:href="@{${memo.address}}" target="_blank">
            <div class="link">
                <h3 class="layui-timeline-title" th:utext ="${memo.title}"></h3>
            </div>
            </a>
            <div style="text-align: center" class="layui-hide link-btn">
                <span th:onclick="'javascript:del('+${memo.id}+');'" style="color: grey;cursor: pointer">删除</span>
                <span>|</span>
                <span th:onclick="'javascript:edit('+${memo.id}+');'" style="color: grey;cursor: pointer">编辑</span>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    layui.use('layer', function () {
        var layer = layui.layer;
    });

    $("#operate").click(function () {
        if ($("#username").length === 0){
            alertMsg("请先登录！");
            return false;
        }
        $(".link-btn").removeClass("layui-hide");
        $("#operate").addClass("layui-hide");
        $("#operate_exit").removeClass("layui-hide");
    });
    $("#operate_exit").click(function () {
        $(".link-btn").addClass("layui-hide");
        $("#operate").removeClass("layui-hide");
        $("#operate_exit").addClass("layui-hide");
    });

    function del(id){
        dangerInquiry("确定删除吗",'是的删除掉','我再考虑一下',false,function () {
            $.ajax({
                type: 'delete',
                dataType: 'json',
                url: '/memo/'+id,
                cache: false,
                async: true,
                success: function () {
                    $("#"+id).addClass("layui-hide");
                }
            });
        })
    }

    function edit(id){
        layer.open({
            type : 2,
            title : "添加",
            area : [ '400px', '300px' ],
            shade : 0,
            offset : "5px",
            shadeClose : false,
            content : "/memo/edit/"+id,
            btn:['确定','取消'],
            yes:function(index,layero){
                var body = top.layer.getChildFrame('body',index);
                var title = body.find('#title').val();
                var address = body.find('#address').val();
                var sequence = body.find('#sequence').val();
                var maxSequence = body.find('#maxSequence').val();
                if (title==''||address==''||sequence==''){
                    alertMsg('内容填写不完整');
                    return false;
                }
                if (parseInt(sequence)>parseInt(maxSequence)){
                    alertMsg('排序数值最大为'+maxSequence);
                    return false;
                }
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                console.log(body.find('#classId').val());
                $.ajax({
                    url:"/memo/update/"+id,
                    type:'post',
                    data:{
                        'title':title,
                        'address':address,
                        'sequence':sequence,
                        'mark':'0'
                    },
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                offset: '10px',
                                icon:1,
                                time:1000
                            },function(){
                                parent.layer.close(index)
                                window.location.reload();
                            });
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            },
            btn2 : function() {
                dangerInquiry('确定关闭吗','是的关闭它','我再考虑一下',true,function () {

                });
                return false;
            },
            closeBtn : 1,
            btnAlign:'c',
            success : function(layero, index) {

            },
            cancel : function() {
                dangerInquiry('确定关闭吗','是的关闭它','我再考虑一下',true,function () {

                });
                return false;
            },
            end : function() {
                layer.closeAll();
                /*location.reload();*/
            }
        });
    }

    $("#add").click(function () {
        if ($("#username").length === 0){
            alertMsg("请先登录！");
            return false;
        }
        layer.open({
            type : 2,
            title : "添加",
            area : [ '400px', '300px' ],
            shade : 0,
            offset : "5px",
            shadeClose : false,
            content : "/memo/edit/-1",
            btn:['确定','取消'],
            yes:function(index,layero){
                var body = top.layer.getChildFrame('body',index);
                var title = body.find('#title').val();
                var address = body.find('#address').val();
                var sequence = body.find('#sequence').val();
                var maxSequence = body.find('#maxSequence').val();
                if (title==''||address==''||sequence==''){
                    alertMsg('内容填写不完整');
                    return false;
                }
                if (parseInt(sequence)>parseInt(maxSequence)){
                    alertMsg('排序数值最大为'+maxSequence);
                    return false;
                }
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                console.log(body.find('#classId').val());
                $.ajax({
                    url:"/memo",
                    type:'post',
                    data:{
                        'title':title,
                        'address':address,
                        'sequence':sequence,
                        'mark':'0'
                    },
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                offset: '10px',
                                icon:1,
                                time:1000
                            },function(){
                                parent.layer.close(index)
                                window.location.reload();
                            });
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            },
            btn2 : function() {
                dangerInquiry('确定关闭吗','是的关闭它','我再考虑一下',true,function () {

                });
                return false;
            },
            closeBtn : 1,
            btnAlign:'c',
            success : function(layero, index) {

            },
            cancel : function() {
                dangerInquiry('确定关闭吗','是的关闭它','我再考虑一下',true,function () {

                });
                return false;
            },
            end : function() {
                layer.closeAll();
                /*location.reload();*/
            }
        });
    });

    $(function () {
        setHeightEqualsWidth()
    });

    function setHeightEqualsWidth() {
        $('.link').css('height',$('.link').css('width'));
    }

    var doc = document,
        ele = doc.documentElement,
        bodys = doc.bodys,
        clientWidth = ele ? ele.clientWidth : bodys.clientWidth,
        clientHeight = ele ? ele.clientHeight : bodys.clientHeight;
    window.onresize = function(e) {
        //获取当前浏览器宽度
        var cw = ele ? ele.clientWidth : bodys.clientWidth;
        if(cw !== clientWidth) {
            setHeightEqualsWidth()
        }
    };
</script>
</html>