<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta th:include="top :: top"/>
</head>
<body style="background-color: lightgoldenrodyellow">
<div th:include="head :: head"></div>
<div style="padding-top: 15px">
    <div class="layui-row">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md8">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    总献花数
                                    <i class="layui-icon layui-icon-group" style="position: absolute;right: 1em"></i>
                                </div>
                                <div class="layui-card-body">
                                    <p style="font-size: 4em;margin: 0.5em 0em;text-align: center;color: deeppink"
                                       id="sumLikes">0</p>
                                    <p>
                                        今日献花数
                                        <span id="sumLikesToday">0</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    我累计献花数
                                    <i class="layui-icon layui-icon-friends" style="position: absolute;right: 1em"></i>
                                </div>
                                <div class="layui-card-body">
                                    <p style="font-size: 4em;margin: 0.5em 0em;text-align: center;color: deeppink"
                                       id="sumPersonalLikes">0</p>
                                    <p>
                                        我今日献花数
                                        <span id="sumPersonalLikesToday">0</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">
                                    献花占比
                                    <i class="layui-icon layui-icon-refresh-3" title="刷新" onclick="paintChart()"
                                       style="position: absolute;right: 1em;cursor: pointer"></i>
                                </div>
                                <div class="layui-card-body">
                                    <div id="container" style="width: 100%;height:500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">登录信息</div>
                        <div class="layui-card-body layui-text">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="40">
                                    <col width="60">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>上次登陆时间</td>
                                    <td>
                                        <span th:text="${user.lastTime}">时间</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>上次登陆地址</td>
                                    <td>
                                        <span th:text="${address}">地点</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>操作</td>
                                    <td style="padding-bottom: 0;">
                                        <div class="layui-btn-container">
                                            <a id="reportIp" class="layui-btn layui-btn-danger">举报</a>
                                            <a onclick="changeInfo()" class="layui-btn">更改信息</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            个人信息
                        </div>
                        <div class="layui-card-body layui-text layadmin-text">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="40">
                                    <col width="60">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>昵称</td>
                                    <td>
                                        <span th:text="${user.username}">昵称</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>注册时间</td>
                                    <td>
                                        <span th:text="${user.created}">注册时间</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>操作</td>
                                    <td style="padding-bottom: 0;">
                                        <div class="layui-btn-container">
                                            <a onclick="changeInfo()" class="layui-btn">更改信息</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#reportIp").click(function () {
        successMsg("举报成功！");
        $("#reportIp").html("已举报").addClass("layui-btn-disabled").unbind("click");
    });

    function paintChart() {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        myChart.showLoading();
        $.get('/like/count/users', function (data) {
            myChart.hideLoading();
            myChart.setOption(chartOption = {
                backgroundColor: '#fff',
                title: {
                    text: '个人献花占比图',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: '#000'
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                visualMap: {
                    show: false,
                    min: 100,
                    max: 600,
                    inRange: {
                        colorLightness: [0, 1]
                    }
                },
                series: [
                    {
                        name: '献花信息',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '50%'],
                        data: data.data.sort(function (a, b) {
                            return a.value - b.value;
                        }),
                        roseType: 'radius',
                        label: {
                            normal: {
                                textStyle: {
                                    color: 'rgba(0, 0, 0, 0.6)'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                lineStyle: {
                                    color: 'rgba(0, 0, 0, 0.6)'
                                },
                                smooth: 0.2,
                                length: 10,
                                length2: 20
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#ff1231',
                                shadowBlur: 120,
                                shadowColor: 'rgba(122, 0, 0, 0.5)'
                            }
                        },
                        animationType: 'scale',
                        animationEasing: 'elasticOut',
                        animationDelay: function (idx) {
                            return Math.random() * 200;
                        }
                    }
                ]
            });
        });
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
        app.currentIndex = -1;
    }

    var sumLikes = 0;
    var sumPersonalLikes = 0;
    var sumLikesToday = 0;
    var sumPersonalLikesToday = 0;

    //加载首页数据
    $(function () {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/like/count/all',
            data: {},
            cache: false,
            async: true,
            success: function (data) {
                if (data.result) {
                    sumLikes = data.data;
                    NumAutoPlusAnimation("sumLikes", {
                        time: 6000,
                        num: data.data,
                        regulator: 32,
                        start: 0
                    });
                }
            }
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/like/count/personal/all',
            data: {},
            cache: false,
            async: true,
            success: function (data) {
                if (data.result) {
                    sumPersonalLikes = data.data;
                    NumAutoPlusAnimation("sumPersonalLikes", {
                        time: 3000,
                        num: sumPersonalLikes,
                        regulator: 32,
                        start: 0
                    });
                }
            }
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/like/count/today',
            data: {},
            cache: false,
            async: true,
            success: function (data) {
                if (data.result) {
                    sumLikesToday = data.data;
                    $("#sumLikesToday").html(sumLikesToday);
                }
            }
        });
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/like/count/personal/today',
            data: {},
            cache: false,
            async: true,
            success: function (data) {
                if (data.result) {
                    sumPersonalLikesToday = data.data;
                    $("#sumPersonalLikesToday").html(sumPersonalLikesToday);
                }
            }
        });
    });

    //数字自增到某一值动画参数（目标元素,自定义配置）
    function NumAutoPlusAnimation(targetEle, options) {

        /*可以自己改造下传入的参数，按照自己的需求和喜好封装该函数*/
        //不传配置就把它绑定在相应html元素的data-xxxx属性上吧
        options = options || {};

        var $this = document.getElementById(targetEle),
            time = options.time || $this.data('time'), //总时间--毫秒为单位
            finalNum = options.num || $this.data('value'), //要显示的真实数值
            regulator = options.regulator || 100, //调速器，改变regulator的数值可以调节数字改变的速度

            step = finalNum / (time / regulator),/*每30ms增加的数值--*/
            count = options.start, //计数器
            initial = 0;

        var timer = setInterval(function () {

            count = count + step;

            if (count >= finalNum) {
                clearInterval(timer);
                count = finalNum;
            }
            //t未发生改变的话就直接返回
            //避免调用text函数，提高DOM性能
            var t = Math.floor(count);
            if (t == initial) return;

            initial = t;

            $this.innerHTML = initial;
        }, 30);
    }

    $(function () {
        setTimeout(function () {
            getNewestData("/like/count/all", sumLikes, "sumLikes");
            getNewestDataToday("/like/count/today", "sumLikesToday");
            getNewestData("/like/count/personal/all", sumPersonalLikes, "sumPersonalLikes");
            getNewestDataToday("/like/count/personal/today", "sumPersonalLikesToday");
        }, 6 * 1000);
    });

    // 定时获取最新的点赞数和搜索数（总数）
    function getNewestData(url, source, target) {
        setInterval(function () {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: url,
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data.result && data.data !== source) {
                        NumAutoPlusAnimation(target, {
                            time: 1000,
                            num: data.data,
                            regulator: 32,
                            start: source
                        });
                    }
                }
            });
        }, 3000)
    }

    // 定时获取最新的点赞数和搜索数(当天)
    function getNewestDataToday(url, target) {
        setInterval(function () {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: url,
                data: {},
                cache: false,
                async: true,
                success: function (data) {
                    if (data.result) {
                        if (target == 'sumLikesToday') {
                            $("#sumLikesToday").html(data.data);
                        } else {
                            $("#sumPersonalLikesToday").html(data.data);
                        }
                    }
                }
            });
        }, 3000)
    }
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "../static/js/echarts/echarts.min.js";
    document.getElementsByTagName('head')[0].appendChild(script);
    $("#container").html("文件加载中......");
    script.onload = function () {
        paintChart();
    };
</script>
</body>
</html>
