<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{../static/layui/css/layui.css}"/>
    <script type="text/javascript" src="http://hovertree.com/ziyuan/jquery/jquery-1.11.3.min.js"></script>
    <style>
        #search ul {
            width: 100%;
            list-style: none;
            overflow-x: auto;
            white-space: nowrap;
        }

        #search li {
            display: inline;
        }
        /*ul::-webkit-scrollbar {
            !*width: 2px;
            height: 6px;*!
            display: none;
        }*/

        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        ::-webkit-scrollbar
        {
            width: 12px;
            height: 12px;
            background-color: lightgoldenrodyellow;
        }

        /*定义滚动条轨道 内阴影+圆角*/
        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px lightgoldenrodyellow;
            border-radius: 10px;
            background-color: lightgoldenrodyellow;
        }

        /*定义滑块 内阴影+圆角*/
        ::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px lightgoldenrodyellow;
            background-color: lightgoldenrodyellow;
        }
        ::-webkit-scrollbar-button{
            background-color: deeppink;
        }
        #top {
            padding: 5px 20px;
            background-color: rgba(0,0,0,0.3);
            text-align: right;
            color: white;
        }
        #top a{
            color: white;
            cursor: pointer;
            border-bottom: 1px solid white;
            padding-bottom: 1px;
            margin-right: 15px;
        }
    </style>
</head>
<body style="background-color: lightgoldenrodyellow">
<div class="layui-row" id="top">
    <div th:if="${session.user}==null">
        <a type="button" id="loginBtn">登录</a>
    </div>
    <div th:if="${session.user}!=null">
        <a type="button" id="username" th:text="${session.user.username}"></a>
        <a type="button" id="personalCenter">个人中心</a>
        <a type="button" id="logout">注销</a>
    </div>
    <div th:if="${session.isAdmin}!=null">
        <a type="button" id="grandpa">继古开今</a>
    </div>
</div>
<div class="layui-row" style="text-align: center;font-size: larger">
    <form action="http://www.baidu.com/baidu" target="_blank" onsubmit="return check()">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md-offset3" id="search">
            <!--搜索框-->
            <div class="layui-form-item" style="margin-top: 10%">
                <img alt="logo" th:src="@{../static/image/logo.png}" style="width: 200px;cursor: pointer" onclick="toIndex()"/>
                <div class="layui-input-block" href="/index" style="margin-left: 10px;margin-right: 10px;margin-top: 50px">
                    <input type="text" name="word" style="font-size: medium;height: 44px" id="searchBody" placeholder="百度能搜到的这里都能搜..." autocomplete="off" class="layui-input">
                    <button style="position: absolute;top: 0;right: 6px;cursor: pointer" type="submit" class="layui-btn layui-btn-lg layui-btn-normal">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                </div>
            </div>
            <!--常用链接-->
            <ul class="layui-inline scroll">
                <li th:each="link : ${links}" class="scroll-son">
                    <a th:href="@{${link.link}}" target="_blank" class="layui-btn" style="margin: 0 5px" th:title="${link.title}">
                        <i th:class="${link.icon}"></i>
                    </a>
                </li>
            </ul>
            <!--倒计时-->
            <div style="margin-top: 20px">
                <span>
                    <i style='font-size: large;color: deeppink' class="layui-icon layui-icon-notice"></i>
                </span>
                <span id="countDown" style="color: #333333">
                    <i class="layui-icon layui-icon-log"></i>倒计时
                </span>
                <span id="countDownTitle" style="color: deeppink">
                    【倒计时标题】
                </span>
            </div>
        </div>
    </div>
    </form>
</div>
<div style="position: fixed;bottom: 6%;width: 100%;font-size: larger;text-align: center;color: gray;">
    <a th:href="@{/}"><i>www.jianbing.pro</i></a>
</div>

</body>
<script th:src="@{../static/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use('element', function () {
        var element = layui.element;

    });

    layui.use('layer', function () {
        var layer = layui.layer;
    });

    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    $("#logout").click(function () {
        layer.open({
            type: 1
            ,title: false //不显示标题栏
            ,closeBtn: false
            ,area: '300px;'
            ,offset: '200px'
            ,shade: 0.8
            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            ,btn: ['去意已决', '我再考虑一下']
            ,yes:function(){
                $.ajax({
                    url:"/logout",
                    type:'get',
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                icon:1,
                                time:1500
                            },function(){
                                parent.layer.close(index)
                            });
                            location.reload();
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            }
            ,btnAlign: 'c'
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; ' +
                'font-weight: 300;text-align:center;font-size:20px;">确定注销吗~!</div>'

        });
    });

    $("#personalCenter").click(function () {
        window.open("/personal/index","_blank");
    });

    $("#grandpa").click(function () {
        window.open("/grandpa","_blank");
    });

    $("#loginBtn").click(function () {
        layer.open({
            type : 2,
            title : "登录",
            area : [ '400px', '400px' ],
            shade : 0,
            offset : "100px",
            shadeClose : false,
            content : "/login",
            btn:['登录'],
            yes:function(index,layero){
                var body = top.layer.getChildFrame('body',index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                console.log(body.find('#classId').val());
                $.ajax({
                    url:"/login/check",
                    type:'post',
                    data:{
                        'username':body.find('#username').val(),
                        'password':body.find('#password').val(),
                        'rememberMe':body.find('#rememberMe').val()
                    },
                    dataType:'json',
                    success:function(data){
                        if (data.code == 0) {
                            layer.msg(data.msg,{
                                icon:1,
                                time:1500
                            },function(){
                                parent.layer.close(index)
                            });
                            location.reload();
                        } else if (data.code == 500) {
                            layer.msg(data.msg,{
                                icon:2,
                                time:1500
                            },function(){});
                        }
                    }
                });
            },
            closeBtn : 1,
            btnAlign:'c',
            success : function(layero, index) {

            },
            cancel : function() {
                /*layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,offset: '200px'
                    ,shade: 0.8
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['是的关闭它', '我再考虑一下']
                    ,yes:function(){
                        layer.closeAll();
                    }
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;text-align:center;font-size:20px;">确定关闭吗~!</div>'

                });

                return false;*/
            },
            end : function() {
                layer.closeAll();
                /*location.reload();*/
            }
        });
    })

    function toIndex() {
        window.open("/");
    }
    function check(){
        var keyword = $("#searchBody").val();
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/keyword/insert',
            data: {"keyword": keyword},
            cache: false,
            async: true,
            success: function () {
                $("#searchBody").val();
            }
        });
        return true;
    }

    /*var form = layui.form;

    //监听提交
    form.on('submit(formDemo)', function (data) {
        layer.msg(JSON.stringify(data.field));
        return false;
    });*/

    $("#searchBody").focus();

    window.onload = function () {
        getCountdown();
    };

    function getCountdown() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/countdown/get',
            data: {},
            cache: false,
            async: true,
            success: function (data) {
                titleA = data[0].title;
                endTimeA = data[0].endTime;
                daysA = data[0].days;
                titleB = data[1].title;
                endTimeB = data[1].endTime;
                if (endTimeA.length<6){
                    endTimeA[5] = 0;
                }
                if (endTimeB.length<6){
                    endTimeB[5] = 0;
                }
                daysB = data[1].days;
                endA = new Date(endTimeA[0],endTimeA[1]-1,endTimeA[2],endTimeA[3],endTimeA[4],endTimeA[5]);
                endB = new Date(endTimeB[0],endTimeB[1]-1,endTimeB[2],endTimeB[3],endTimeB[4],endTimeB[5]);
                countdown();
            }
        });
    }

    function countdown() {
        var now = new Date();
        var title = titleA;
        if (now > endA){
            endA = endB;
            title = titleB;
        }
        var today = now;
        var stopTime = endA;
        var shenyu = stopTime.getTime() - today.getTime(),//倒计时毫秒数
            shengyuD = parseInt(shenyu / (60 * 60 * 24 * 1000)),//转换为天
            D = parseInt(shenyu) - parseInt(shengyuD * 60 * 60 * 24 * 1000),//除去天的毫秒数
            shengyuH = parseInt(D / (60 * 60 * 1000)),//除去天的毫秒数转换成小时
            H = D - shengyuH * 60 * 60 * 1000,//除去天、小时的毫秒数
            shengyuM = parseInt(H / (60 * 1000));//除去天的毫秒数转换成分钟
        var S = parseInt((shenyu - shengyuD * 60 * 60 * 24 * 1000 - shengyuH * 60 * 60 * 1000 - shengyuM * 60 * 1000) / 1000)//除去天、小时、分的毫秒数转化为秒
        var MS = parseInt(shenyu - shengyuD * 60 * 60 * 24 * 1000 - shengyuH * 60 * 60 * 1000 - shengyuM * 60 * 1000 - S * 1000)//除去天、小时、分的毫秒数转化为秒
        MS = (Array(3).join('0') + MS).slice(-3);
        document.getElementById("countDown").innerHTML = (shengyuD + "天" + shengyuH + "小时" + shengyuM + "分" + S + "秒" + MS/* + "毫秒"*/);
        $("#countDownTitle").html('【'+title+'】');
        setTimeout(countdown, 33);
    }



</script>
</html>