<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<div th:fragment="top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="787331940@qq.com(李建兵)">
    <script type="text/javascript" src="http://hovertree.com/ziyuan/jquery/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <link rel="shortcut icon" th:href="@{../static/image/favicon.ico}"/>
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <style>
        #top {
            padding: 5px 20px;
            background-color: rgba(0,0,0,0.3);
            text-align: right;
            color: white;
        }
        #top a{
            color: white;
            cursor: pointer;
            border-bottom: 1px solid white;
            padding-bottom: 1px;
            margin-right: 15px;
        }
    </style>
</div>
</html>
