<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>编辑个人信息</title>
    <meta th:include="top :: top"/>
</head>
<body class="layui-layout-body" style="background-color: lightcyan;padding-top: 20px">
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">名&nbsp;&nbsp;&nbsp;&nbsp;讳</label>
        <div class="layui-input-block" style="padding-right: 50px">
            <input type="text" id="username" name="username" th:value="${user.username}"
                   required  lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
        <div class="layui-input-block" style="padding-right: 50px">
            <input type="password" id="password" name="password" th:value="${user.password}"
                   required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>
</form>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>
