<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>建兵 | 环太湖骑行</title>
    <meta name="keywords" content="太湖,骑行,环太湖骑行,李建兵环太湖骑行">
    <meta name="description" content="李建兵2020年国庆环太湖骑行计划和记录">
    <meta th:include="top :: top"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
    <link crossorigin="anonymous" integrity="sha384-K0w/+I56zyFo/F95X8Bf9XmzXnLxPBsAD86HY3tb95VR17XZRythRpX+Zw8/av9a" href="https://lib.baomitu.com/Swiper/5.3.7/css/swiper.min.css" rel="stylesheet"/>
    <script crossorigin="anonymous" integrity="sha384-sDrARk+KBYvP1/Kq29RQa0VlkDiIFdrn0qG9H9ao9MbX489pSjAXQZ6GlijuoPUD" src="https://lib.baomitu.com/Swiper/5.3.7/js/swiper.min.js"></script>
    <style>
        .layui-card-header {
            text-align: center;
            font-size: x-large;
            color: darkmagenta;
        }
        img {
            width: 100%;
        }
        .layui-field-title {
            margin-top: 30px;
        }
        @-webkit-keyframes flash {
            0% {
                background-color: #FFB800;
                opacity:1;
            }
            33% {
                background-color: deeppink;
            }
            77% {
                background-color: #FFB800;
            }
            100% {
                background-color: #FFB800;
            }
        }
        .flash {
            -webkit-animation-name: flash;
            -webkit-animation-duration: 1500ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
        }
        .question {
            margin-bottom: 10px;
            background-color: #494949;
            padding: 5px;
            font-size: medium;
        }
        .question-ask {
            font-size: large;
            margin-bottom: 10px;
        }
        .plan-head {
            font-size: large;
            color: deeppink;
            text-align: center;
            margin-bottom: 10px;
        }
        .plan-body {
            padding-bottom: 30px;
            font-size: large;
        }
        .me-tip {
            font-size: medium;
        }
        .me-more-info {
            color: grey;
            padding: 0 0.5em;
        }
        #btn-together {
            margin-left: -4px;
            border-top-right-radius: 19px;
            border-bottom-right-radius: 19px;
            letter-spacing: 2px;
            padding: 0 30px 0 20px;
        }
        #btn-advise {
            border-top-left-radius: 19px;
            border-bottom-left-radius: 19px;
            letter-spacing: 2px;
            padding: 0 20px 0 30px;
        }
        .more-activity {
            height: 120px;
            text-align: center;
            font-size: large;
        }
        .more-activity > img {
            height: 60px;
            width: 60px;
        }
        .more-activity-pc {
            height: 180px;
            text-align: center;
            font-size: xx-large;
        }
        .more-activity-pc > img {
            height: 100px;
            width: 100px;
        }
        #count_down {
            padding: 10px 0;
        }
    </style>
</head>
<body>
<input type="hidden" th:value="${visitCounts}" id="visit_count"/>
<input type="hidden" th:value="${status}" id="status"/>
<input type="hidden" th:value="${pageName}" id="page_name"/>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div id="head_pic_div" class="me-pic-div">
            <img src="https://s1.ax1x.com/2020/05/16/Yyq0B9.jpg" alt="head" border="0">
        </div>
        <div class="layui-card-header" id="count_down">
            倒计时
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <fieldset class="layui-elem-field" style="margin-top: 10px">
            <legend>岂止骑行</legend>
            <div class="layui-field-box" style="font-size: large">
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMMb4.png" alt="scenicSpot" border="0">
                    <p>美景</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMZ80.png" alt="food" border="0">
                    <p>美食</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMuKU.png" alt="beach" border="0">
                    <p>沙滩</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMlVJ.png" alt="swim" border="0">
                    <p>游泳</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMVCq.png" alt="picnic" border="0">
                    <p>野餐</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMe2V.png" alt="chat" border="0">
                    <p>谈心</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMKrF.png" alt="poker" border="0">
                    <p>游戏</p>
                </div>
                <div class="layui-col-md3 layui-col-xs3 more-activity">
                    <img src="https://s1.ax1x.com/2020/06/07/tRMmvT.png" alt="more" border="0">
                    <p>等等</p>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="layui-row" style="overflow: hidden">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div class="my-gallery me-pic-div" id="map_pic_div" data-pswp-uid="1" style="margin-top: -20px">
            <figure style="margin: 0">
                <a href="https://s1.ax1x.com/2020/05/06/YViRfJ.jpg" data-size="1032x911">
                    <img alt="路线图" src="https://s1.ax1x.com/2020/05/06/YViRfJ.jpg" style="width: 100%"/>
                </a>
            </figure>
        </div>
        <div style="padding:10px">
            <p class="me-tip"><span class="layui-badge-dot"></span>&nbsp;上图为计划路线，实际可能有出入</p>
            <p class="me-tip"><span class="layui-badge-dot"></span>&nbsp;计划的详细信息，请向下滑动查看</p>
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div id="start_pic_div" class="me-pic-div">
            <img src="https://s1.ax1x.com/2020/05/16/YyqwnJ.jpg" alt="start" border="0">
        </div>
        <fieldset class="layui-elem-field" style="margin-top: 10px">
            <legend>起止 - 启行</legend>
            <div class="layui-field-box" style="font-size: x-large">
                <p>国庆中秋假，共计八天。</p>
                <p>第一天汇集，次日出发。</p>
                <p>于湖州启程，湖州结束。</p>
                <p>顺时针方向，贴湖骑行。</p>
            </div>
        </fieldset>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div id="distance_pic_div" class="me-pic-div">
            <img src="https://s1.ax1x.com/2020/05/16/YyqrA1.jpg" alt="distance" border="0">
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <fieldset class="layui-elem-field" style="margin-top: 10px">
            <legend>路线详情</legend>
            <div class="layui-field-box" style="font-size: large;padding-top: 1.5em">
                <p><i class="layui-icon layui-icon-chart me-text-stress"></i>&nbsp;
                    <span id="slideLine_distance">
                        看到这句话，说明滑动条加载失败，请
                        <a href="" style="text-decoration: underline;color: #007DDB">点我刷新页面</a>
                        重试。
                    </span></p>
                <p><i class="layui-icon layui-icon-time me-text-stress"></i>&nbsp;
                    <span id="slideLine_time"></span></p>
                <p><i class="layui-icon layui-icon-location me-text-stress"></i>&nbsp;
                    <span id="slideLine_place"></span></p>
                <hr>
                <div style="margin: 2em 0 1em 0">
                    <div id="slideLine" style="margin: 1em 0 2em 0"></div>
                    <div class="me-text-center">
                        <button class="layui-btn layui-btn-warm adjust-slider">-5</button>
                        <button class="layui-btn layui-btn-warm adjust-slider">-1</button>
                        <button class="layui-btn layui-btn-normal adjust-slider">+1</button>
                        <button class="layui-btn layui-btn-normal adjust-slider">+5</button>
                    </div>
                </div>
                <p class="me-tip"><span class="layui-badge-dot"></span>&nbsp;直接点击滑动条，或通过按钮微调</p>
                <p class="me-tip"><span class="layui-badge-dot"></span>&nbsp;电脑端可拖拽、长按按钮</p>
            </div>
        </fieldset>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div id="flag_pic_div" class="me-pic-div">
            <img src="https://s1.ax1x.com/2020/05/16/YyqB7R.jpg" alt="flag" border="0">
        </div>
        <fieldset class="layui-elem-field" style="margin-top: 10px">
            <legend>不拼命原则</legend>
            <div class="layui-field-box" style="font-size: x-large">
                <p>八天假期，时间充裕。</p>
                <p>一边骑行，一边赏景。</p>
                <p>日头高了，就去乘凉。</p>
                <p>乌云来了，就去避雨。</p>
            </div>
        </fieldset>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>详细计划</legend>
        </fieldset>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-01
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkAUO.jpg" alt="湖州" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第一天，准备装备+休息休整</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;start</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-02
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkib6.jpg" alt="常州太湖湾" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;清晨出发，在常州太湖湾歇脚</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第一天，骑行约82km</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-03
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkCK1.jpg" alt="东南大学无锡分校" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;经龙头渚过鼋头渚，夜宿东大无锡分校</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第二天，骑行约93km</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-04
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkE5D.jpg" alt="西洞庭山" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;跨过太湖大桥，夜宿于西洞庭山</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第三天，骑行约77km</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-05
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkPDx.jpg" alt="洞庭东山" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;沿湖骑行，到达洞庭东山休憩</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第四天，骑行约81km</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-06
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkkVK.jpg" alt="太湖湾大桥" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;清晨出发，夜宿苏州市吴江区</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第五天，骑行约61km</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-07
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img src="https://s1.ax1x.com/2020/05/06/YVkpvR.jpg" alt="冲线" border="0">
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;绕湖一路骑行，直达终点（起点）</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;第六天，骑行约58km</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="plan-head">
                        2020-10-08
                    </div>
                    <div class="plan-body">
                        <div class="me-plan-pic-div">
                            <img alt="告别" th:src="@{../../static/image/riding/taihu/farewell.jpg}"/>
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;还车，返程，休息，上班</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="layui-badge-dot"></span>&nbsp;end</p>
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <!--<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>-->
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3" style="background-color: #262626;color: white;padding-top: 10px;padding-bottom: 10px">
        <fieldset class="layui-elem-field">
            <legend>常见问题</legend>
            <div class="layui-field-box">
                <div class="question">
                    <p class="question-ask">1、没有长途骑行经验可以参加吗？</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;当然可以！400多km，6天完成，平均每天75km，拖鞋+哈罗都可以轻松完成~</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;提前一两周适应性锻炼下会更好！</p>
                </div>
                <div class="question">
                    <p class="question-ask">2、需要准备什么东西？</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;一两套速干的换洗衣物即可，单车可以在出发地租赁</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;如果有手机云台或者大疆，那就更好啦！可以完美记录整个行程~</p>
                </div>
                <div class="question">
                    <p class="question-ask">3、路途中意见不一怎么办？</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;全程分为了6段，每个人轮流当队长，队员需要以队长的意见为准</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;当然，队长也要尽量照顾到大多数的想法，同时做出科学合理的决策</p>
                </div>
                <div class="question">
                    <p class="question-ask">4、食宿问题怎么解决？</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;早餐和晚饭饭店解决，午餐可以饭店或公园野炊</p>
                    <p><span class="layui-badge-dot"></span>&nbsp;住宿的话，尽量靠近湖岸的经济型连锁酒店</p>
                </div>
                <div class="question">
                    <p class="question-ask">5、有多少人参加了，现在来得及吗？</p>
                    <p><span class="layui-badge-dot"></span>
                        加上我本人一共是<span style="font-weight: bold;color: deepskyblue;padding: 0 0.5em" th:text="${ridingTaihuNumber}"></span>人
                    </p>
                    <p><span class="layui-badge-dot"></span>
                        <span th:text="快来一起参加吧！" th:if="${status==0 && ridingTaihuNumber==1}"></span>
                        <span th:text="快来壮大我们的队伍吧！" th:if="${status==0 && ridingTaihuNumber==2}"></span>
                        <span th:text="快来壮大我们的队伍吧！" th:if="${status==0 && ridingTaihuNumber==3}"></span>
                        <span th:text="快来壮大我们的队伍吧！" th:if="${status==0 && ridingTaihuNumber>3}"></span>
                        <span th:text="活动已经开始啦，如果赶得上就中途插入吧！" th:if="${status==1}"></span>
                        <span th:text="活动已经结束啦，期待下次活动的相遇吧！" th:if="${status==2}"></span>
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div id="together_pic_div" class="me-pic-div">
            <img src="https://s1.ax1x.com/2020/05/16/YyqaX4.jpg" alt="together" border="0">
        </div>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div style="padding-left: 1em" class="layui-hide show-pc">
            <p class="me-tip">浏览<span th:text="${visitCounts}"></span>次&nbsp;|
                参加<span th:text="${ridingTaihuNumber}"></span>人(含本人)</p>
        </div>
        <div class="me-text-center layui-hide show-pc" style="margin: 3em 0">
            <button type="button" class="layui-btn layui-btn-normal" onclick="advise()">
                提建议
            </button>
            <button type="button" class="layui-btn layui-btn-normal" onclick="join()">
                一起去
            </button>
            <a th:if="${session.user}!=null and ${session.user.role}==0 " href="/manage/companion" target="_blank"
               class="layui-btn layui-btn-warm">参与人</a>
        </div>
        <div class="show-mobile me-bottom-btn">
            <div class="layui-col-sm5 layui-col-xs5" style="text-align: left;padding-left: 10px">
                <p style="font-size: small">&nbsp;&nbsp;<i class="layui-icon layui-icon-read"></i>
                    浏览<span th:text="${visitCounts}"></span>次
                    <span th:if="${session.user}!=null and ${session.user.role}==0" id="visit_count_now"></span>
                </p>
                <p style="font-size: small">&nbsp;&nbsp;<i class="layui-icon layui-icon-username"></i>
                    参加<span th:text="${ridingTaihuNumber}"></span>人
                    <a th:if="${session.user}!=null and ${session.user.role}==0 " href="/manage/companion" target="_blank">
                        <i class="layui-icon layui-icon-edit"></i>
                    </a>
                </p>
            </div>
            <div class="layui-col-sm7 layui-col-xs7" style="text-align: right;padding-right: 10px">
                <button type="button" id="btn-advise" class="layui-btn layui-btn-normal" onclick="advise()">
                    提建议
                </button>
                <button type="button" id="btn-together" class="layui-btn layui-btn-warm flash" onclick="join()">
                    一起去
                </button>
            </div>
            <div class="layui-row">
            </div>
        </div>
        <hr class="layui-hide show-pc">
    </div>
</div>
<div class="layui-row" style="background-color: #0C0C0C">
    <div class="layui-col-md6 layui-col-md-offset3">
        <div style="font-size: small;text-align: center;padding: 3em 0 2em 0">
            <a href="http://www.beian.miit.gov.cn" target="_blank" style="color: white">备案号：皖ICP备19001037号</a></div>
        <div class="show-mobile" style="height: 80px"></div>
    </div>
</div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{../../static/js/me/riding/taihu.js}"></script>
</html>