<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>环太湖骑行</title>
    <meta name="keywords" content="太湖,骑行,环太湖骑行">
    <meta name="description" content="李建兵2020年国庆环太湖骑行计划和记录">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="787331940@qq.com(李建兵)">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <link rel="shortcut icon" th:href="@{../../static/image/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/me/common.css}" />
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script th:src="@{../../static/js/me/common.js}"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" rel="stylesheet"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
    <link crossorigin="anonymous" integrity="sha384-K0w/+I56zyFo/F95X8Bf9XmzXnLxPBsAD86HY3tb95VR17XZRythRpX+Zw8/av9a" href="https://lib.baomitu.com/Swiper/5.3.7/css/swiper.min.css" rel="stylesheet"/>
    <script crossorigin="anonymous" integrity="sha384-sDrARk+KBYvP1/Kq29RQa0VlkDiIFdrn0qG9H9ao9MbX489pSjAXQZ6GlijuoPUD" src="https://lib.baomitu.com/Swiper/5.3.7/js/swiper.min.js"></script>
    <style>
        .layui-card-header {
            font-weight: bold;
            font-size: large;
            text-align: center;
            color: deeppink;
            background-color: lightcyan;
        }

        .layui-card-body {
            font-size: large;
            background-color: lightcyan;
        }

        img {
            width: 100%;
        }

        .layui-field-title {
            margin-top: 30px;
        }
        .swiper-slide > .layui-card > .layui-card-body {
            padding-bottom: 2em;
        }
        .layui-colla-title {
            font-size: medium;
        }
        .layui-colla-title {
            background-color: #d1fffc;
        }
        .layui-colla-item {
            background-color: #f1ffff;
        }
        .me-more-info {
            color: grey;
            padding: 0 0.5em;
        }
    </style>
</head>
<body class="me-body">
<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3">
        <input type="hidden" th:value="${visitCounts}" id="visit_count"/>
        <input type="hidden" th:value="${status}" id="status"/>
        <blockquote class="layui-elem-quote" style="background-color: lightcyan">
            <div class="me-text-center me-text-stress"
                 style="font-size: larger;margin: 0.5em 0" id="count_down"></div>
        </blockquote>
        <div class="layui-card">
            <div class="layui-card-header">
                路线全图
            </div>
            <div class="layui-card-body">
                <!--data-pswp-uid在每个相册中必须是唯一的，data-size指定放大时图片显示的宽和高-->
                <div class="my-gallery" data-pswp-uid="1" style="margin-top: -20px">
                    <figure style="margin: 0">
                        <a th:href="@{../../static/image/riding/taihu/line.jpg}" data-size="1032x911">
                            <img alt="路线图" th:src="@{../../static/image/riding/taihu/line.jpg}" style="width: 100%"/>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                路线示意
            </div>
            <div class="layui-card-body">
                <p><i class="layui-icon layui-icon-chart me-text-stress"></i>&nbsp;
                    <span id="slideLine_distance"></span></p>
                <p><i class="layui-icon layui-icon-time me-text-stress"></i>&nbsp;
                    <span id="slideLine_time"></span></p>
                <p><i class="layui-icon layui-icon-location me-text-stress"></i>&nbsp;
                    <span id="slideLine_place"></span></p>
                <hr>
                <div style="margin: 2em 0">
                    <div id="slideLine" style="margin: 1em 0"></div>
                    <div class="me-text-center">
                        <button class="layui-btn layui-btn-warm adjust-slider">-5</button>
                        <button class="layui-btn layui-btn-warm adjust-slider">-1</button>
                        <button class="layui-btn layui-btn-normal adjust-slider">+1</button>
                        <button class="layui-btn layui-btn-normal adjust-slider">+5</button>
                    </div>
                </div>
                <p class="me-tip">可直接在线上点击，或通过按钮微调(PC端可拖拽、长按)</p>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">
                计划概况
            </div>
            <div class="layui-card-body">
                <p><i class="layui-icon layui-icon-time me-text-stress"></i>&nbsp;
                    2020/10/01-2020/10/08</p>
                <p><i class="layui-icon layui-icon-chart me-text-stress"></i>&nbsp;
                    393.2km(湖岸线)~452km(估)</p>
                <p><i class="layui-icon layui-icon-location me-text-stress"></i>&nbsp;
                    湖州起止，顺时针环湖</p>
                <p><i class="layui-icon layui-icon-flag me-text-stress"></i>&nbsp;
                    环湖而行 遇景则止 逢雨即停</p>
            </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>详细计划</legend>
        </fieldset>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-01
                        </div>
                        <div class="layui-card-body">
                            <img alt="湖州" th:src="@{../../static/image/riding/taihu/wuxing.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;第一天，准备装备+休息休整</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;start</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-02
                        </div>
                        <div class="layui-card-body">
                            <img alt="常州太湖湾" th:src="@{../../static/image/riding/taihu/changzhou.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;清晨出发，在常州太湖湾歇脚</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;约82km</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-03
                        </div>
                        <div class="layui-card-body">
                            <img alt="东南大学无锡分校" th:src="@{../../static/image/riding/taihu/seu.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;经龙头渚过鼋头渚，夜宿东大无锡分校</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;约93km</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-04
                        </div>
                        <div class="layui-card-body">
                            <img alt="西洞庭山" th:src="@{../../static/image/riding/taihu/xishan.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;跨过太湖大桥，夜宿于西洞庭山</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;约77km</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-05
                        </div>
                        <div class="layui-card-body">
                            <img alt="洞庭东山" th:src="@{../../static/image/riding/taihu/dongshan.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;沿湖骑行，到达洞庭东山休憩</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;约81km</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-06
                        </div>
                        <div class="layui-card-body">
                            <img alt="太湖湾大桥" th:src="@{../../static/image/riding/taihu/wujiang.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;清晨出发，夜宿苏州市吴江区</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;约61km</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-07
                        </div>
                        <div class="layui-card-body">
                            <img alt="冲线" th:src="@{../../static/image/riding/taihu/finish.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;绕湖一路骑行，直达终点（起点）</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;约58km</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2020-10-08
                        </div>
                        <div class="layui-card-body">
                            <img alt="告别" th:src="@{../../static/image/riding/taihu/farewell.jpg}"/>
                            <p class="me-tip">网图，侵删</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;还车，返程，休息，上班</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;end</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <!--<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>-->
            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
        <div class="layui-card" style="margin: 1em 0">
            <div class="layui-card-header">
                常见问题
            </div>
            <div class="layui-card-body" style="padding: 0">
                <div class="layui-collapse" lay-accordion>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">1、没有长途骑行经验可以参加吗？</h2>
                        <div class="layui-colla-content layui-show">
                            <p><span class="layui-badge-dot"></span>&nbsp;当然可以！400多km，6天完成，平均每天约70km，拖鞋+哈罗都可以轻松完成~</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;提前一两周适应性锻炼下会更好！</p>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">2、需要准备什么东西？</h2>
                        <div class="layui-colla-content">
                            <p><span class="layui-badge-dot"></span>&nbsp;一两套速干的换洗衣物即可，单车可以在出发地租赁</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;如果有手机云台或者大疆，那就更好啦！可以完美记录整个行程~</p>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">3、路途中意见不一怎么办？</h2>
                        <div class="layui-colla-content">
                            <p><span class="layui-badge-dot"></span>&nbsp;全程分为了6段，每个人轮流当队长，队员需要以队长的意见为准</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;当然，队长也要尽量照顾到大多数的想法，同时做出科学合理的决策</p>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">4、食宿问题怎么解决？</h2>
                        <div class="layui-colla-content">
                            <p><span class="layui-badge-dot"></span>&nbsp;早餐和晚饭饭店解决，午餐可以饭店或公园野炊（零食+自热饭）</p>
                            <p><span class="layui-badge-dot"></span>&nbsp;青旅+酒店，暂不考虑露营</p>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">5、有多少人参加了？现在来得及吗？</h2>
                        <div class="layui-colla-content">
                            <p><span class="layui-badge-dot"></span>
                                加上我本人一共是<span th:text="${ridingTaihuNumber}"></span>人
                            </p>
                            <p><span class="layui-badge-dot"></span>
                                <span th:text="想参加就赶紧和我说吧" th:if="${status==0 && ridingTaihuNumber==1}"></span>
                                <span th:text="赶紧来三人行吧" th:if="${status==0 && ridingTaihuNumber==2}"></span>
                                <span th:text="三缺一赶紧来吧" th:if="${status==0 && ridingTaihuNumber==3}"></span>
                                <span th:text="快来壮大我们的队伍吧" th:if="${status==0 && ridingTaihuNumber>3}"></span>
                                <span th:text="活动已经开始啦，如果赶得上就中途插入吧" th:if="${status==1}"></span>
                                <span th:text="活动已经结束啦，期待下次活动的相遇吧" th:if="${status==2}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left: 1em">
            <p class="me-tip">浏览<span th:text="${visitCounts}"></span>次&nbsp;|
                参加<span th:text="${ridingTaihuNumber}"></span>人(含本人)</p>
        </div>
        <div class="me-text-center" style="margin: 3em 0">
            <button type="button" class="layui-btn layui-btn-normal" id="advise">
                提建议
            </button>
            <button type="button" class="layui-btn layui-btn-normal" id="join">
                一起去
            </button>
            <a th:if="${session.user}!=null and ${session.user.role}==0 " href="/manage/companion" target="_blank"
               class="layui-btn layui-btn-warm">参与人</a>
        </div>
        <hr>
        <div style="font-size: small;text-align: center;color: gray;margin: 3em 0em 2em 0em">
            <a href="http://www.beian.miit.gov.cn" target="_blank">备案号：皖ICP备19001037号</a></div>
    </div>
</div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{../../static/js/me/riding/taihu.js}"></script>
</html>